xsd/ListaDeclaracoesOrdenado.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Jul 21 2018 20:36:05 GMT-0300 (Horário Padrão de Brasília) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="ListaDeclaracoes">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="declaracaoImportacao" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="adicao" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="cideValorAliquotaEspecifica" type="xs:int"></xs:element>
                                                               <xs:element name="cideValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="cideValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="codigoRelacaoCompradorVendedor" type="xs:int"></xs:element>
                                                               <xs:element name="codigoVinculoCompradorVendedor" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaAdValorem" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaEspecificaQuantidadeUnidade" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaEspecificaValor" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaReduzida" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="cofinsAliquotaValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="condicaoVendaIncoterm" type="xs:string"></xs:element>
                                                               <xs:element name="condicaoVendaLocal" type="xs:string"></xs:element>
                                                               <xs:element name="condicaoVendaMetodoValoracaoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="condicaoVendaMetodoValoracaoNome" type="xs:string"></xs:element>
                                                               <xs:element name="condicaoVendaMoedaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="condicaoVendaMoedaNome" type="xs:string"></xs:element>
                                                               <xs:element name="condicaoVendaValorMoeda" type="xs:int"></xs:element>
                                                               <xs:element name="condicaoVendaValorReais" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCambiaisCoberturaCambialCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCambiaisCoberturaCambialNome" type="xs:string"></xs:element>
                                                               <xs:element name="dadosCambiaisInstituicaoFinanciadoraCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCambiaisInstituicaoFinanciadoraNome" type="xs:string"></xs:element>
                                                               <xs:element name="dadosCambiaisMotivoSemCoberturaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCambiaisMotivoSemCoberturaNome" type="xs:string"></xs:element>
                                                               <xs:element name="dadosCambiaisValorRealCambio" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCargaPaisProcedenciaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCargaUrfEntradaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosCargaViaTransporteCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="dadosMercadoriaAplicacao" type="xs:string"></xs:element>
                                                               <xs:element name="dadosMercadoriaCodigoNaladiNCCA" type="xs:int"></xs:element>
                                                               <xs:element name="dadosMercadoriaCodigoNaladiSH" type="xs:int"></xs:element>
                                                               <xs:element name="dadosMercadoriaCodigoNcm" type="xs:int"></xs:element>
                                                               <xs:element name="dadosMercadoriaCondicao" type="xs:string"></xs:element>
                                                               <xs:element name="dadosMercadoriaMedidaEstatisticaQuantidade" type="xs:int"></xs:element>
                                                               <xs:element name="dadosMercadoriaMedidaEstatisticaUnidade" type="xs:string"></xs:element>
                                                               <xs:element name="dadosMercadoriaNomeNcm" type="xs:string"></xs:element>
                                                               <xs:element name="dadosMercadoriaPesoLiquido" type="xs:int"></xs:element>
                                                               <xs:element name="dcrCoeficienteReducao" type="xs:int"></xs:element>
                                                               <xs:element name="dcrIdentificacao" type="xs:int"></xs:element>
                                                               <xs:element name="dcrValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="dcrValorDolar" type="xs:int"></xs:element>
                                                               <xs:element name="dcrValorReal" type="xs:int"></xs:element>
                                                               <xs:element name="dcrValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="fabricanteCidade" type="xs:string"></xs:element>
                                                               <xs:element name="fabricanteComplemento" type="xs:string"></xs:element>
                                                               <xs:element name="fabricanteEstado" type="xs:string"></xs:element>
                                                               <xs:element name="fabricanteLogradouro" type="xs:string"></xs:element>
                                                               <xs:element name="fabricanteNome" type="xs:string"></xs:element>
                                                               <xs:element name="fabricanteNumero" type="xs:int"></xs:element>
                                                               <xs:element name="fornecedorCidade" type="xs:string"></xs:element>
                                                               <xs:element name="fornecedorComplemento" type="xs:string"></xs:element>
                                                               <xs:element name="fornecedorLogradouro" type="xs:string"></xs:element>
                                                               <xs:element name="fornecedorNome" type="xs:string"></xs:element>
                                                               <xs:element name="fornecedorNumero" type="xs:int"></xs:element>
                                                               <xs:element name="freteMoedaNegociadaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="freteValorMoedaNegociada" type="xs:int"></xs:element>
                                                               <xs:element name="freteValorReais" type="xs:int"></xs:element>
                                                               <xs:element name="iiAcordoTarifarioTipoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaAcordo" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaAdValorem" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaPercentualReducao" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaReduzida" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaValorCalculado" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="iiAliquotaValorReduzido" type="xs:int"></xs:element>
                                                               <xs:element name="iiBaseCalculo" type="xs:int"></xs:element>
                                                               <xs:element name="iiExTarifarioAtoLegalAno" type="xs:int"></xs:element>
                                                               <xs:element name="iiExTarifarioAtoLegalCodigo" type="xs:string"></xs:element>
                                                               <xs:element name="iiExTarifarioAtoLegalEX" type="xs:int"></xs:element>
                                                               <xs:element name="iiExTarifarioAtoLegalNumero" type="xs:int"></xs:element>
                                                               <xs:element name="iiExTarifarioAtoLegalOrgaoEmissor" type="xs:string"></xs:element>
                                                               <xs:element name="iiFundamentoLegalCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="iiMotivoAdmissaoTemporariaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="iiRegimeTributacaoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="iiRegimeTributacaoNome" type="xs:string"></xs:element>
                                                               <xs:element name="ipiAliquotaAdValorem" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaEspecificaCapacidadeRecipciente" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaEspecificaQuantidadeUnidadeMedida" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaEspecificaTipoRecipienteCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaEspecificaValorUnidadeMedida" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaNotaComplementarTIPI" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaReduzida" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="ipiAliquotaValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="ipiRegimeTributacaoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="ipiRegimeTributacaoNome" type="xs:string"></xs:element>
                                                               <xs:element name="numeroAdicao" type="xs:int"></xs:element>
                                                               <xs:element name="numeroDI" type="xs:int"></xs:element>
                                                               <xs:element name="numeroLI" type="xs:int"></xs:element>
                                                               <xs:element name="paisAquisicaoMercadoriaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="paisAquisicaoMercadoriaNome" type="xs:string"></xs:element>
                                                               <xs:element name="paisOrigemMercadoriaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="paisOrigemMercadoriaNome" type="xs:string"></xs:element>
                                                               <xs:element name="pisCofinsBaseCalculoAliquotaICMS" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsBaseCalculoFundamentoLegalCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsBaseCalculoPercentualReducao" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsBaseCalculoValor" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsFundamentoLegalReducaoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsRegimeTributacaoCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="pisCofinsRegimeTributacaoNome" type="xs:string"></xs:element>
                                                               <xs:element name="pisPasepAliquotaAdValorem" type="xs:int"></xs:element>
                                                               <xs:element name="pisPasepAliquotaEspecificaQuantidadeUnidade" type="xs:int"></xs:element>
                                                               <xs:element name="pisPasepAliquotaEspecificaValor" type="xs:int"></xs:element>
                                                               <xs:element name="pisPasepAliquotaReduzida" type="xs:int"></xs:element>
                                                               <xs:element name="pisPasepAliquotaValorDevido" type="xs:int"></xs:element>
                                                               <xs:element name="pisPasepAliquotaValorRecolher" type="xs:int"></xs:element>
                                                               <xs:element name="relacaoCompradorVendedor" type="xs:string"></xs:element>
                                                               <xs:element name="seguroMoedaNegociadaCodigo" type="xs:int"></xs:element>
                                                               <xs:element name="seguroValorMoedaNegociada" type="xs:int"></xs:element>
                                                               <xs:element name="seguroValorReais" type="xs:int"></xs:element>
                                                               <xs:element name="sequencialRetificacao" type="xs:int"></xs:element>
                                                               <xs:element name="valorMultaARecolher" type="xs:int"></xs:element>
                                                               <xs:element name="valorMultaARecolherAjustado" type="xs:int"></xs:element>
                                                               <xs:element name="valorReaisFreteInternacional" type="xs:int"></xs:element>
                                                               <xs:element name="valorReaisSeguroInternacional" type="xs:int"></xs:element>
                                                               <xs:element name="valorTotalCondicaoVenda" type="xs:int"></xs:element>
                                                               <xs:element name="vinculoCompradorVendedor" type="xs:string"></xs:element>

                                                               <xs:element name="mercadoria" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="descricaoMercadoria" type="xs:string"></xs:element>
                                                                                 <xs:element name="numeroSequencialItem" type="xs:int"></xs:element>
                                                                                 <xs:element name="quantidade" type="xs:int"></xs:element>
                                                                                 <xs:element name="unidadeMedida" type="xs:string"></xs:element>
                                                                                 <xs:element name="valorUnitario" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>

                                                               <xs:element name="destaqueNcm">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="numeroDestaque" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="armazenamentoRecintoAduaneiroCodigo" type="xs:int"></xs:element>
                                             <xs:element name="armazenamentoRecintoAduaneiroNome" type="xs:string"></xs:element>
                                             <xs:element name="armazenamentoSetor" type="xs:int"></xs:element>
                                             <xs:element name="canalSelecaoParametrizada" type="xs:int"></xs:element>
                                             <xs:element name="caracterizacaoOperacaoCodigoTipo" type="xs:int"></xs:element>
                                             <xs:element name="caracterizacaoOperacaoDescricaoTipo" type="xs:string"></xs:element>
                                             <xs:element name="cargaDataChegada" type="xs:int"></xs:element>
                                             <xs:element name="cargaNumeroAgente" type="xs:int"></xs:element>
                                             <xs:element name="cargaPaisProcedenciaCodigo" type="xs:int"></xs:element>
                                             <xs:element name="cargaPaisProcedenciaNome" type="xs:string"></xs:element>
                                             <xs:element name="cargaPesoBruto" type="xs:int"></xs:element>
                                             <xs:element name="cargaPesoLiquido" type="xs:int"></xs:element>
                                             <xs:element name="cargaUrfEntradaCodigo" type="xs:int"></xs:element>
                                             <xs:element name="cargaUrfEntradaNome" type="xs:string"></xs:element>
                                             <xs:element name="conhecimentoCargaEmbarqueData" type="xs:int"></xs:element>
                                             <xs:element name="conhecimentoCargaEmbarqueLocal" type="xs:string"></xs:element>
                                             <xs:element name="conhecimentoCargaId" type="xs:int"></xs:element>
                                             <xs:element name="conhecimentoCargaIdMaster" type="xs:int"></xs:element>
                                             <xs:element name="conhecimentoCargaTipoCodigo" type="xs:int"></xs:element>
                                             <xs:element name="conhecimentoCargaTipoNome" type="xs:string"></xs:element>
                                             <xs:element name="conhecimentoCargaUtilizacao" type="xs:int"></xs:element>
                                             <xs:element name="conhecimentoCargaUtilizacaoNome" type="xs:string"></xs:element>
                                             <xs:element name="dataDesembaraco" type="xs:int"></xs:element>
                                             <xs:element name="dataRegistro" type="xs:int"></xs:element>
                                             <xs:element name="documentoChegadaCargaCodigoTipo" type="xs:int"></xs:element>
                                             <xs:element name="documentoChegadaCargaNome" type="xs:string"></xs:element>
                                             <xs:element name="documentoChegadaCargaNumero" type="xs:int"></xs:element>
                                             <xs:element name="freteCollect" type="xs:int"></xs:element>
                                             <xs:element name="freteEmTerritorioNacional" type="xs:int"></xs:element>
                                             <xs:element name="freteMoedaNegociadaCodigo" type="xs:int"></xs:element>
                                             <xs:element name="freteMoedaNegociadaNome" type="xs:string"></xs:element>
                                             <xs:element name="fretePrepaid" type="xs:int"></xs:element>
                                             <xs:element name="freteTotalDolares" type="xs:int"></xs:element>
                                             <xs:element name="freteTotalMoeda" type="xs:int"></xs:element>
                                             <xs:element name="freteTotalReais" type="xs:int"></xs:element>
                                             <xs:element name="importadorCodigoTipo" type="xs:int"></xs:element>
                                             <xs:element name="importadorCpfRepresentanteLegal" type="xs:int"></xs:element>
                                             <xs:element name="importadorEnderecoBairro" type="xs:string"></xs:element>
                                             <xs:element name="importadorEnderecoCep" type="xs:int"></xs:element>
                                             <xs:element name="importadorEnderecoComplemento" type="xs:string"></xs:element>
                                             <xs:element name="importadorEnderecoLogradouro" type="xs:string"></xs:element>
                                             <xs:element name="importadorEnderecoMunicipio" type="xs:string"></xs:element>
                                             <xs:element name="importadorEnderecoNumero" type="xs:int"></xs:element>
                                             <xs:element name="importadorEnderecoUf" type="xs:string"></xs:element>
                                             <xs:element name="importadorNome" type="xs:string"></xs:element>
                                             <xs:element name="importadorNomeRepresentanteLegal" type="xs:string"></xs:element>
                                             <xs:element name="importadorNumero" type="xs:int"></xs:element>
                                             <xs:element name="importadorNumeroTelefone" type="xs:string"></xs:element>
                                             <xs:element name="informacaoComplementar" type="xs:string"></xs:element>
                                             <xs:element name="localDescargaTotalDolares" type="xs:int"></xs:element>
                                             <xs:element name="localDescargaTotalReais" type="xs:int"></xs:element>
                                             <xs:element name="localEmbarqueTotalDolares" type="xs:int"></xs:element>
                                             <xs:element name="localEmbarqueTotalReais" type="xs:int"></xs:element>
                                             <xs:element name="modalidadeDespachoCodigo" type="xs:int"></xs:element>
                                             <xs:element name="modalidadeDespachoNome" type="xs:string"></xs:element>
                                             <xs:element name="numeroDI" type="xs:int"></xs:element>
                                             <xs:element name="operacaoFundap" type="xs:string"></xs:element>
                                             <xs:element name="seguroMoedaNegociadaCodigo" type="xs:int"></xs:element>
                                             <xs:element name="seguroMoedaNegociadaNome" type="xs:string"></xs:element>
                                             <xs:element name="seguroTotalDolares" type="xs:int"></xs:element>
                                             <xs:element name="seguroTotalMoedaNegociada" type="xs:int"></xs:element>
                                             <xs:element name="seguroTotalReais" type="xs:int"></xs:element>
                                             <xs:element name="sequencialRetificacao" type="xs:int"></xs:element>
                                             <xs:element name="situacaoEntregaCarga" type="xs:string"></xs:element>
                                             <xs:element name="tipoDeclaracaoCodigo" type="xs:int"></xs:element>
                                             <xs:element name="tipoDeclaracaoNome" type="xs:string"></xs:element>
                                             <xs:element name="totalAdicoes" type="xs:int"></xs:element>
                                             <xs:element name="urfDespachoCodigo" type="xs:int"></xs:element>
                                             <xs:element name="urfDespachoNome" type="xs:string"></xs:element>
                                             <xs:element name="valorTotalMultaARecolherAjustado" type="xs:int"></xs:element>
                                             <xs:element name="viaTransporteCodigo" type="xs:int"></xs:element>
                                             <xs:element name="viaTransporteMultimodal" type="xs:string"></xs:element>
                                             <xs:element name="viaTransporteNome" type="xs:string"></xs:element>
                                             <xs:element name="viaTransporteNomeTransportador" type="xs:string"></xs:element>
                                             <xs:element name="viaTransportePaisTransportadorCodigo" type="xs:int"></xs:element>
                                             <xs:element name="viaTransportePaisTransportadorNome" type="xs:string"></xs:element>

                                             <xs:element name="documentoInstrucaoDespacho" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="codigoTipoDocumentoDespacho" type="xs:int"></xs:element>
                                                               <xs:element name="nomeDocumentoDespacho" type="xs:string"></xs:element>
                                                               <xs:element name="numeroDocumentoDespacho" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>

                                             <xs:element name="embalagem">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="codigoTipoEmbalagem" type="xs:int"></xs:element>
                                                               <xs:element name="nomeEmbalagem" type="xs:string"></xs:element>
                                                               <xs:element name="quantidadeVolume" type="xs:int"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>

                                             <xs:element name="icms">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="agenciaIcms" type="xs:int"></xs:element>
                                                               <xs:element name="bancoIcms" type="xs:int"></xs:element>
                                                               <xs:element name="codigoTipoRecolhimentoIcms" type="xs:int"></xs:element>
                                                               <xs:element name="cpfResponsavelRegistro" type="xs:int"></xs:element>
                                                               <xs:element name="dataRegistro" type="xs:int"></xs:element>
                                                               <xs:element name="horaRegistro" type="xs:int"></xs:element>
                                                               <xs:element name="nomeTipoRecolhimentoIcms" type="xs:string"></xs:element>
                                                               <xs:element name="numeroSequencialIcms" type="xs:int"></xs:element>
                                                               <xs:element name="ufIcms" type="xs:string"></xs:element>
                                                               <xs:element name="valorTotalIcms" type="xs:int"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>

                                             <xs:element name="pagamento" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="agenciaPagamento" type="xs:int"></xs:element>
                                                               <xs:element name="bancoPagamento" type="xs:int"></xs:element>
                                                               <xs:element name="codigoReceita" type="xs:int"></xs:element>
                                                               <xs:element name="codigoTipoPagamento" type="xs:int"></xs:element>
                                                               <xs:element name="contaPagamento" type="xs:int"></xs:element>
                                                               <xs:element name="dataPagamento" type="xs:int"></xs:element>
                                                               <xs:element name="nomeTipoPagamento" type="xs:string"></xs:element>
                                                               <xs:element name="numeroRetificacao" type="xs:int"></xs:element>
                                                               <xs:element name="valorJurosEncargos" type="xs:int"></xs:element>
                                                               <xs:element name="valorMulta" type="xs:int"></xs:element>
                                                               <xs:element name="valorReceita" type="xs:int"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>